{% extends 'base.html' %}

{%block titulo%}Dashboard de {{ user }}{%endblock%}

{% block conteudo %}]

{% include 'parciais/_messages.html'%}

<h1>Seja bem vindo {{ user.first_name }} {{user.last_name}}</h1>

<p>Seu nome de usuário é  {{ user }} </p>


<div class="container">
    <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            {{form}}
            <tr>
                <td> <button type="submit" class="btn btn-primary"><b>Entrar</b></button> </td>
            </tr>
        </table>
    </form>

    

</div>

{% endblock %}